<!-- Ilmoitustuotteet komponenttissa näkee ne tuottet mitkä ovat
 myyjessä jakopäivässä -->


<!-- Notifications komponentti logiikka -->
<!-- Notificationskomponentti → IlmoitusTuotteetkomponentti → 
  Tilauskomponentti (Ostoskori) → Paymentkomponentti (Maksu) → Vahvistus -->


<div class="grid grid-cols-1 lg:grid-cols-2 gap-6 p-4 sm:p-6 min-h-screen">
  <!-- VASEN SIVU - Tuotteet -->
  <div *ngIf="notification" class="bg-[#f1ece4] rounded-xl shadow-md w-full sm:max-w-[650px] mx-auto overflow-hidden">
    <!-- Kuva -->
    <img [src]="notification.notificationsImage" alt="Tuotekuva" title="notificationsImage"
      class="w-full h-64 object-cover">

    <!-- Otsikko -->
    <div class="px-6 py-4">
      <h1 class="text-2xl font-medium font-[Paprika] text-gray-900">
        {{ notification.title }}, {{ notification.location }}
      </h1>
    </div>


    <!-- Tuotelista -->
    <div class="space-y-4 px-6 py-4">
      <p class="text-lg font-semibold text-gray-800">Tuotteet</p>

      <div *ngFor="let product of relatedProducts"
        class="flex items-center bg-gray-100 rounded-lg p-4 gap-3 sm:gap-4 overflow-hidden">
        <!-- Kuva -->
        <div
          class="w-16 h-16 sm:w-20 sm:h-20 flex-shrink-0 rounded-lg overflow-hidden bg-gray-200 flex items-center justify-center">
          <ng-container *ngIf="product.image">
            <img [src]="product.image" alt="Tuotekuva" class="w-full h-full object-cover" title="product name" />
          </ng-container>

          <!-- <ng-template #noImage>
            <span class="material-symbols-outlined text-gray-400 text-4xl sm:text-5xl">image</span>
          </ng-template> -->
        </div>

        <!-- Tuotetiedot -->
        <div class="flex-1 min-w-0">
          <p class="text-sm sm:text-lg font-[Inder] text-gray-900 font-medium truncate">
            {{ product.name }}
          </p>

          <p class="text-[11px] sm:text-sm text-gray-700 leading-snug line-clamp-2">
            {{ product.description }}
          </p>

          <p class="text-[11px] sm:text-xs text-gray-700 mt-1">{{ product.price }} € / {{ product.amount }} g</p>

          <!-- Näytä määrä napin alla, jos > 0 -->
          <!-- <div *ngIf="getCartQuantity(product.id) > 0" class="text-sm text-gray-900 mt-1">
            {{ getCartQuantity(product.id) }} kpl ostoskorissa
          </div> -->
        </div>


        <div class="flex flex-col items-center">

          <!-- Määrän säätö laatikko -->
          <div
            class="flex items-center border-2 border-green-600 rounded-lg bg-white hover:bg-gray-50 transition-colors">
            <button (click)="removeOne(product)" aria-label="Poista yksi tuote"
              class="w-8 h-8 flex items-center justify-center hover:bg-gray-100 transition-colors rounded-l-lg"
              [class.opacity-50]="getCartQuantity(product.uniqueId) <= 0">
              <span class="text-gray-700 text-lg material-symbols-outlined">remove</span>
              <!-- [class.cursor-not-allowed]="getCartQuantity(product.id) <= 0">, [disabled]="getCartQuantity(product.id) <= 0 -->
            </button>

            <span
              class="w-10 h-8 flex items-center justify-center text-gray-900 font-medium border-l border-r border-gray-300">
              {{ getCartQuantity(product.uniqueId) }}
            </span>

            <button (click)="addOne(product)" aria-label="Lisää yksi tuote"
              class="w-8 h-8 flex items-center justify-center hover:bg-gray-100 transition-colors rounded-r-lg">
              <span class="text-gray-700 text-lg material-symbols-outlined">add</span>
            </button>
          </div>

        </div>

      </div>

    </div>



    <!-- Kuvaus -->
    <div class="px-6 py-4" *ngIf="notification.description && notification.description.length > 0">
      <h2 class="text-lg font-semibold text-gray-900 mb-3">Kuvaus</h2>
      <div class="space-y-3">
        <p *ngFor="let desc of notification.description" class="text-gray-800 text-base leading-relaxed">
          {{ desc }}
        </p>
      </div>
    </div>
  </div>

  <!-- OIKEA SIVU - Tuottajan tiedot -->
  <div *ngIf="notification" class="bg-[#f1ece4] rounded-xl shadow-md w-full max-w-[656px] mx-auto overflow-hidden">
    <!-- Profiilikuva -->
    <div class="flex justify-center pt-6">
      <div
        class="w-32 h-32 rounded-full overflow-hidden bg-gray-200 flex items-center justify-center border-4 border-white shadow-md">
        <img [src]="notification.producersImge" [alt]="notification.producers" class="w-full h-full object-cover"
          title="notification producersImge" onerror="this.style.display='none'">
        <div *ngIf="!notification.producersImge" class="text-gray-400 text-center">
          <svg class="w-12 h-12 mx-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
          </svg>
        </div>
      </div>
    </div>

    <!-- Tuottajan tiedot -->
    <div class="text-center px-6 pt-4">
      <h2 class="text-2xl font-bold text-gray-900 mb-3">{{ notification.producers }}</h2>
      <p class="text-gray-800 text-sm mb-2">Jakopäivä: {{ notification.date }}</p>
      <p class="text-gray-800 leading-relaxed text-left"
        *ngIf="notification.description && notification.description.length > 0">
        {{ notification.description[0] }}
      </p>
    </div>

    <!-- Noutotiedot -->
    <div class="bg-gray-100 mx-6 my-6 p-5 rounded-lg"
      *ngIf="notification.pickupTimes && notification.pickupTimes.length > 0">
      <h3 class="text-lg font-bold text-gray-900 mb-3">NOUTO</h3>
      <div class="space-y-4">
        <div *ngFor="let time of notification.pickupTimes" class="text-gray-800">
          <p class="font-medium">{{ time }}</p>
          <p class="text-gray-600 text-sm">{{ notification.place }}, {{ notification.location }}</p>
        </div>
      </div>
    </div>

    <!-- Yhteystiedot -->
    <div class="px-6 pb-6">
      <h3 class="text-lg font-bold text-gray-900 mb-3">Yhteystiedot</h3>
      <div class="space-y-2 text-gray-800">
        <p class="flex items-center">
          <span class="mr-2">📍</span>
          <!-- <span class="mr-2 ma material-symbols-outlined">location_on</span> -->
          {{ notification.place }}, {{ notification.location }}
        </p>
        <p class="flex items-center">
          <span class="mr-2">📅</span>
          Voimassa: {{ notification.date }}
        </p>
      </div>
    </div>

    <!-- Lisäkuvaus -->
    <div class="px-6 pt-4 pb-6 border-t border-gray-200"
      *ngIf="notification.description && notification.description.length > 1">
      <h3 class="text-lg font-bold text-gray-900 mb-3">Tilan tiedot</h3>
      <div class="space-y-3">
        <p *ngFor="let desc of notification.description.slice(1)" class="text-gray-800 leading-relaxed text-base">
          {{ desc }}
        </p>
      </div>
    </div>
  </div>
</div>