// tääs on tiedostossa pääsemme muokamaan valmis angular komponentti tyylia

@use '@angular/material' as mat;

// Aktivoi Materialin core-tyylit
@include mat.core();

// Määritä oma vihreä väriteema
$my-theme: mat.define-theme(
  (
    color: (
      primary: mat.$green-palette,
    ),
  )
);

// Ota teema käyttöön sovellukselle
:root {
  @include mat.all-component-themes($my-theme);
}

/* Muuta painikkeen väri Tailwindin sävyillä */
.mat-mdc-raised-button.mat-primary {
  background-color: #22c55e !important; // bg-green-500
  color: black !important;
  transition: background-color 0.2s ease-in-out;
}

/* Hover-efekti */
.mat-mdc-raised-button.mat-primary:hover {
  background-color: #16a34a !important; // bg-green-600
}

.mat-mdc-form-field.mat-mdc-form-field-type-mat-input .mdc-text-field--filled {
  background-color: white;
}
