<div class="flex flex-col items-center justify-center min-h-[80vh] bg-white px-4 mt-5">
  <!-- Otsikko -->
  <h2 class="text-3xl md:text-4xl font-semibold mb-16 md:mb-20 mt-[-40px] text-center">
    Kirjaudu sisään
  </h2>

  <!-- Lomake -->
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
    class="flex flex-col gap-4 w-full max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg transition-all">

    <!-- Sähköposti -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Sähköposti</mat-label>
      <input matInput formControlName="email" type="email" placeholder="Sähköposti" class="text-sm" />
    </mat-form-field>

    <!-- Virheilmoitukset sähköposti -->
    <p *ngIf="emailControl?.touched && emailControl?.invalid" class="text-sm text-red-600 mt-[-10px] mb-[-5px]">
      <!-- <span *ngIf="emailControl?.errors?.['required']">Sähköposti on pakollinen.</span> -->
      <span *ngIf="emailControl?.errors?.['email']">Anna kelvollinen sähköpostiosoite.</span>
    </p>

    <!-- Salasana -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Salasana</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="Salasana"
        class="text-sm bg-white" />
      <!-- <button mat-icon-button matSuffix matSuffix type="button" (click)="hide = !hide" class="focus:outline-none">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button> -->
    </mat-form-field>


    <!-- Virheilmoitukset salasana -->
    <p *ngIf="passwordControl?.touched && passwordControl?.invalid" class="text-sm text-red-600 mt-[-10px] mb-[-5px]">
      <!-- <span *ngIf="passwordControl?.errors?.['required']">Salasana on pakollinen.</span> -->
      <span *ngIf="passwordControl?.errors?.['minlength']">Salasanan on oltava vähintään 6 merkkiä.</span>
    </p>

    <!-- Kirjaudu sisään -nappi (spinnerillä) -->
    <button mat-raised-button color="primary" type="submit"
      class="w-full bg-green-600 hover:bg-green-500 text-white font-semibold py-2 rounded-sm transition flex items-center justify-center gap-2"
      [disabled]="loading" [attr.aria-busy]="loading">

      <!-- Spinner näkyy vain kun lataus on käynnissä -->
      <mat-progress-spinner *ngIf="loading" diameter="20" mode="indeterminate" class="!mr-1"></mat-progress-spinner>

      <span *ngIf="!loading">Kirjaudu sisään</span>
    </button>
  </form>

  <!-- Lisälinkit -->
  <a href="#" class="text-sm mt-8 font-medium text-black hover:underline">
    Salasana unohtunut?
  </a>

  <div class="mt-2 text-sm text-center">
    Uusi käyttäjä?
    <a href="#" class="font-semibold text-black hover:underline">
      Rekisteröidy
    </a>
  </div>
</div>